<html lang="en">
    <head>
        <title>Дистанционное обучение</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <link href="../../CSS/indexCSS.css" rel="stylesheet">
        
    </head>
    <body>
        <!--Голова сайта-->
        <section class="SectionNavigation">
            <div class="DivTitle">
                <img src="../../IMG/LogoSite.png" alt="logo">
            </div>
            <div class="TitleText">
                <h1>Единый образовательный ресурс дистанционного обучения</h1>
            </div> 
            <div class="DivNav">
                <ul class="menu">
                    <li><a id="active" href="home.html">Главная</a></li>
                    <li><a href="#">Расписание</a></li>
                    <li><a href="#">Чат</a></li>
                    <li><a href="#">Профиль</a></li>
                </ul>
            </div>
            <a href="#"><div class="DivExit">
                <p>Выход </p>
                <img src="../../IMG/exits.png" alt="exit">
            </div></a>
        </section>

        <!--Тело сайта-->
        <section class="SectionBodyHome">
            <div class="LeftBar">
                <div class="DivPolInfo">
                    <h2>Группа: 38ИС-13</h2>
                    <h2>Студент: Иванов И.И.</h2>
                </div>
                <div class="DivInfoDis">
                    <a href="#"><div id="BoxDis">
                        <h3>Оценки</h3>
                    </div></a>
                    <a href="#"><div id="BoxDis">
                        <h3>Практическая работа</h3>
                    </div></a>
                    <a href="#"><div id="BoxDis">
                        <h3>Онлайн занятия</h3>
                    </div></a>
                    <a href="#"><div id="BoxDis">
                        <h3>Методический материал</h3>
                    </div></a>
                </div>
            </div>
            <div class="DivContentHome">
                <div class="Zagolovok">
                    <h1>Графический дизайн>Методический материал</h1>
                </div>
                <div class="DivMBoxs">
                    <a href="#" id="Catt"><div id="MBox">
                        <h3>Сентябрь 2020</h3>
                    </div></a>
                    <a href="#" id="Catt"><div id="MBox">
                        <h3>Октябрь 2020</h3>
                    </div></a>
                    <a href="#" id="Catt"><div id="MBox">
                        <h3>Ноябрь 2020</h3>
                    </div></a>
                    <a href="#" id="Catt"><div id="MBox">
                        <h3>Декабрь 2020</h3>
                    </div></a>
                </div>
                
            </div>
            <div class="Clear"></div>
        </section>

        <!--Подвал сайта-->
        <section class="SectionFooter">
            <div class="SectionDiv">
                <a href="#"><div class="SectionFooterNav">
                   Помощь и поддержка
                </div></a>
                <a href="#"><div class="SectionFooterNav">
                    Условия использования
                </div></a>
                <a href="#"><div class="SectionFooterNav">
                    Задать вопрос?
                </div></a>
                <div class="SectionLanguageDiv">
                    <select>
                        <option>Русский</option>
                        <option disabled>English</option>
                    </select>
                </div>
                <div id="perem"></div>
                <div id="copy">
                    &copy; 2021 Корнев "Murrka" Алексей
                </div>
            </div>
            </div>
        </section>
    </body>
</html>
