<html lang="en">
    <head>
        <title>Дистанционное обучение</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <link href="../../CSS/indexCSS.css" rel="stylesheet">
        
    </head>
    <body>
        <!--Голова сайта-->
        <section class="SectionNavigation">
            <div class="DivTitle">
                <img src="../../IMG/LogoSite.png" alt="logo">
            </div>
            <div class="TitleText">
                <h1>Единый образовательный ресурс дистанционного обучения</h1>
            </div> 
            <a href="homeAdmin.html"><div class="DivPanel">
                <h1>Панель администратора</h1>
            </div></a>
            <a href="#"><div class="DivExit">
                <p>Выход </p>
                <img src="../../IMG/exits.png" alt="exit">
            </div></a>
        </section>

        <!--Тело сайта-->
        <section class="SectionBodyHome">
            <div class="LeftBar">
                <div class="DivAdminInfo">
                    <h2>Администратор:Петренко Ю.П.</h2>
                    <h2>Учебное учереждение: ГБПОУ Колледж "Царицино"</h2>
                </div>
                <div class="DivAdminBar">
                    <a href="#"><div id="BoxAdmin" class="ActiveBox">
                        <h3>Добавить студента</h3>
                    </div></a>
                    <a href="#"><div id="BoxAdmin">
                        <h3>Добывить преподавателя</h3>
                    </div></a>
                </div>
            </div>
            <div class="DivContentHome">
                <div class="Zagolovok">
                    <h1>Добавить пользователя</h1>
                </div>
                <div class="AddUser">
                    <form action="" method="POST">
                        <div><p>Введите Фамилию студента</p>
                        <input type="text">
                        </div>
                        <div><p>Введите Имя студента</p>
                        <input type="text">
                        </div>
                        <div><p>Введите Отчество студента</p>
                        <input type="text">
                        </div>
                        <div>
                        <p>Выберите группу</p>
                        <select name="Groups" id="AddUserSelect">
                            <option value="Value0" selected>-- --</option>
                            <option value="38ИС-13">38ИС-13</option>
                            <option value="38ИС-11">38ИС-11</option>
                        </select>
                        </div>
                        <div><p>Введите логин пользователя</p>
                            <input type="text">
                        </div>
                        <div><p>Введите пароль пользователя</p>
                            <input type="password">
                        </div>
                        <div><p>Введите Pin-code администратора</p>
                            <input type="password">
                        </div>
                        <div>
                            <input type="button" name="SaveUser1" value="Добавить студента">
                        </div>
                    </form>
                </div>
            </div>
            <div class="Clear"></div>
        </section>

        <!--Подвал сайта-->
        <section class="SectionFooter">
            <div class="SectionDiv">
                <a href="#"><div class="SectionFooterNav">
                   Помощь и поддержка
                </div></a>
                <a href="#"><div class="SectionFooterNav">
                    Условия использования
                </div></a>
                <a href="#"><div class="SectionFooterNav">
                    Задать вопрос?
                </div></a>
                <div class="SectionLanguageDiv">
                    <select>
                        <option>Русский</option>
                        <option disabled>English</option>
                    </select>
                </div>
                <div id="perem"></div>
                <div id="copy">
                    &copy; 2021 Корнев "Murrka" Алексей
                </div>
            </div>
            </div>
        </section>
    </body>
</html>
